<!-- Twitter Cards -->
<meta name="twitter:title" content="{% if include.page_title %}{{ include.page_title }}{% elsif page.title %}{{ page.title|markdownify|strip_html|strip_newlines }}{% else %}{{ site.title }}{% endif %}">
{% if include.excerpt %}<meta name="twitter:description" content="{{ include.excerpt | strip_html }}">
{% elsif page.excerpt %}<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">{% endif %}
{% if site.owner.twitter %}<meta name="twitter:site" content="@{{ site.owner.twitter }}">{% endif %}
{% if author.twitter %}<meta name="twitter:creator" content="@{{ author.twitter }}">{% endif %}
{% if page.image.feature %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}/images/{{ page.image.feature }}">
{% else %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{% if page.image.thumb %}{% if page.image.thumb contains 'http' %}{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ page.image.thumb }}{% endif %}{% else %}{{ site.url }}/images/default-thumb.png{% endif %}">
{% endif %}
<!-- Open Graph -->
<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:type" content="{% if include.og_type %}{{ include.og_type }}{% else %}article{% endif %}">
<meta property="og:title" content="{% if include.page_title %}{{ include.page_title }}{% elsif page.title %}{{ page.title|markdownify|strip_html|strip_newlines }}{% else %}{{ site.title }}{% endif %}">
{% if include.excerpt %}<meta name="og:description" content="{{ include.excerpt | strip_html }}">
{% elsif page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html }}">{% endif %}
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:image" content="{% if page.image.thumb %}{{ site.url }}/images/{{ page.image.thumb }}{% else %}{{ site.url }}/images/default-thumb.png{% endif %}">
{% comment %} suppressing, because publication dates are accurate but times are not...
{% if page.date %}<meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}"/>
{% elsif page.created %}<meta property="article:published_time" content="{{ page.created | date: "%Y-%m-%d" }}"/>{% endif %} {% endcomment %}