{% assign post=include.post %}
<article>
  {% if post.link %}
    <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></h2>
  {% else %}
    <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
      {% if post.image.thumb %}
      <img class="post-thumb" src="{% if post.image.thumb contains 'http' %}{{ post.image.thumb }}{% else %}{{ site.url }}/images/{{ post.image.thumb }}{% endif %}"/>
      {% endif %}
      <h2>{{ post.title }}</h2>
    </a>
    <p>{{ post.excerpt | strip_html | truncate: 160 }}
      <span class="dateline">{{ post.date | date_to_string }}</span>
    </p>
    {% include tags.html tags=post.tags is_post=true %}
  {% endif %}
</article>
