
/* hanging indent for references */
.references {
  padding-left: 1.5rem;
  text-indent: -1.5rem;
}

.references ul {
	padding-left: 0;
}

/* invert svg logo colors for light mode */
img.logo {
    filter: invert(1);
}
html.dark img.logo {
    filter: none;
}
/* mini logo is the reverse */
img.minilogo {
   filter: none;
}
html.dark img.minilogo {
    filter: invert(1);
}

.webmentions summary .mention:has(+ .mention)::after {
    content:", ";
}

/* use icons for the toggle */
details.webmentions > summary {
   list-style: none;
}
details.webmentions summary::-webkit-details-marker {
  display: none
}
.webmentions summary #show, .webmentions summary #hide {
    padding-right: 5px;
    cursor: pointer;
}
.webmentions summary #show {
    display: inline-block;
}
.webmentions[open] summary #show {
    display: none;
}
.webmentions summary #hide {
    display: none;
}
.webmentions[open] summary #hide {
    display: inline-block;
}

/* replicate old gallery image style for one post */
.dbpedia-thumb {
    float: left;
    clear: none;
    padding: 3px;
    margin: 3px;
}
.dbpedia-thumb img {
    height: 80px;
    /* for transparent images */
    background-color: #efefef;
}

.dbpedia-thumb + hr {
    clear: both;
}
