/* caption/credit for feature image on posts */
.image-credit {
    width: auto;
    float: right;
}

main {
    clear: right;
}

nav > div > a {
    writing-mode: vertical-lr;
}

main {
    table {
        width: 100%;
    }
}