<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="tag-index"> <!-- ??  typeof="schema:Blog"> -->

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index" class="tag-index">
    <h1>{{ page.title }}</h1>
    {% for tag_page in site.tag_pages %}
    <div>
      <a href="{{ site.url }}{{ tag_page.url }}" title="Posts by Tag: {{ tag_page.tag }}">
      {% if tag_page.image.thumb %}
      <img class="post-thumb" src=
        {% if tag_page.image.thumb contains 'http' %}
          "{{ tag_page.image.thumb }}"
        {% else %}
          "{{ site.url }}/images/{{ tag_page.image.thumb }}"
        {% endif %}
        alt="{{ tag_page.tag }} thumbnail image">
      {% endif %}
      <h2>{% if tag_page.tagname %}{{ tag_page.tagname }}{% else %}{{ tag_page.tag }}{% endif %}</h2>
      </a>
      {% assign post_count=site.tags[tag_page.tag]|size %}
      <div class="description">
      {% assign excerpt_size = tag_page.excerpt|size %}
        {% if excerpt_size > 1 %}
          {{ tag_page.excerpt }}
        {% else %}<p>Posts tagged with <span class="tags text-muted">#{{ tag_page.tag }}</span>.</p>{% endif %}
        {{ post_count }} post{% if post_count != 1 %}s{% endif %}
      </div>
    </div>
    {% endfor %}
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
