<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="tag-index"> <!-- ??  typeof="schema:Blog"> -->

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index" class="tag-index">
    <h1>{{ page.title }}</h1>
    {% for tag_posts in site.tags %}
    <div class="collapsible-content">
      {% assign tag=tag_posts[0] %} {% assign posts=tag_posts[1] %} {% assign tag_data=site.data.tags[tag] %}
      <input id="{{ tag }}-toggle" type="checkbox" class="checkbox-toggle" />
      <label for="{{ tag }}-toggle">
      <a name="{{ tag }}"><h2 class="tag">{% if tag_data.name %}{{ tag_data.name }}{% else %}{{ tag }}{% endif %}</h2></a>
      <span class="count">({{ posts.size }})</span>
      <a class="headerlink" href="#{{ tag }}" title="permalink to {{ tag }}"><span class="fa fa-link"></span></a>
      </label>
      {% if tag_data.description %}
        <p class="description">{{ tag_data.description %}}</p>
      {% endif %}
      <div class="content">
        {% for post in posts %}
           {% include list-post.html %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
